div b {
  background: #089888;
  opacity: 70%;
  color: white;
  margin: 49px;
  padding: 50px 60px;
	display: block;
  width: 150px;
  height: 50px;
  float: left;
 
  
   border: 1px ;
   border-radius: 3%;

  
  
    transition: .3s;
  transition-delay: 0.3s;
  
  
}



b:hover{
  height: 50px;
  width: 150px;
  color: white;
  background: #089888;
  opacity: 100%
  box-shadow: 0 0 5px #05fa19, 0 0 4px #3d3d3d;
  border: 1px ;
  border-radius: 3%;
;
  animation: radial-pulse 1s infinite;
  transition: .3s;
  transition-delay: 0.3s;
  opacity: 100;
}



@keyframes radial-pulse{
  0% {
    box-shadow: 0 0 0 0px #089888;
  }
  
  100%{
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0)
  }
}

